<form [formGroup]="form" class="col-1" (ngSubmit)="submit()">
  <div class="form-group">
    <label for="category">Category</label>
    <select
      class="form-select"
      aria-label="Default select example"
      formControlName="category"
      id="category"
    >
      <option
        *ngFor="let category of categories$ | async"
        value="{{ category.id }}"
      >
        {{ category.categoryName }}
      </option>
    </select>
  </div>
  <button type="submit" class="btn btn-success">Search</button>
</form>
<div *ngIf="isProductsLoading$ | async" class="alert alert-primary">
  Products are loading: {{ isProductsLoading$ | async }}
</div>
<div id="products" *ngIf="!(isProductsLoading$ | async)">
  <label for="productSearchTerm">Search for Product</label>
  <input
    (input)="searchForProduct()"
    class="form-control"
    type="text"
    id="productSearchTerm"
    [(ngModel)]="productSearchTerm"
  />
  <div id="products-flex-container">
    <div
      *ngFor="let product of products$ | async"
      class="card"
      style="width: 18rem"
    >
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">Price: $2.99</p>
        <label for="quantity">Quantity</label>
        <input
          type="number"
          class="form-control"
          name="quantity"
          id="quantity"
          value="1"
          #quantityInput
        />
        <button
          class="btn btn-primary"
          (click)="addToCart(product, quantityInput.value)"
        >
          Add to Cart
        </button>
      </div>
    </div>
  </div>
</div>
