<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="form-group">
    <label for="category">Category</label>
    <select
      class="form-select"
      aria-label="Default select example"
      formControlName="category"
      id="category"
    >
      <option
        *ngFor="let category of categories$ | async"
        value="{{ category.id }}"
      >
        {{ category.categoryName }}
      </option>
    </select>
  </div>
  <button type="submit" class="btn btn-success">Search</button>
</form>
