form > button {
  margin-top: 5px;
  margin-bottom: 25px;
}

#products > input {
  margin-bottom: 10px;
}

#products-flex-container {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  flex-wrap: wrap;
}

.card {
  padding: 5px;
  margin-left: 10px;
  margin-top: 5px;
}

/* Apply to first child of card list */
div.card:first-child {
  margin-left: 0px;
}

/* Apply to card where index is divisible by 5 because only 4 cards can exist in one row before being wrapped (https://www.w3schools.com/cssref/sel_nth-child.asp) */
div.card:nth-child(5n + 0) {
  margin-left: 0px;
}

.btn-primary {
  margin-top: 15px;
}
