<ul class="nav nav-pills justify-content-end">
  <li class="nav-item">
    <a
      class="nav-link"
      aria-current="page"
      [routerLink]="['messages']"
      [routerLinkActive]="['active']"
      >Messages
      <span
        *ngIf="((numberOfMessages$ | async) || 0) > 0"
        class="position-relative top-0 start-0 translate-middle badge rounded-pill bg-danger"
        >{{ numberOfMessages$ | async }}</span
      ></a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      aria-current="page"
      [routerLink]="['orders']"
      [routerLinkActive]="['active']"
      >Order History</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      aria-current="page"
      [routerLink]="['shop']"
      [routerLinkActive]="['active']"
      >Shop</a
    >
  </li>
  <li class="nav-item dropdown">
    <app-cart-dropdown></app-cart-dropdown>
  </li>
</ul>
